In [1]:
# import libraries
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_theme(
    style="darkgrid",
    color_codes=True,
    palette='Dark2',
)

# import (personal) functions & variables
from funcs import import_pickled_data, which_cols, number_of_day_to_date, highlight_years
from vals import sheets, yrs
species, species_long, species_summed = import_pickled_data()

Is the temperature of the Kaliningrad dataset comparable to external measurements?

In [10]:
species[sheets[0]].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8385 entries, 1982-04-01 to 2020-11-01
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     8385 non-null   object
 1   Year    8385 non-null   object
 2   Cloud   6530 non-null   object
 3   L-1     219 non-null    float64
 4   L-2     92 non-null     float64
 5   L-3     318 non-null    float64
 6   L-4     5058 non-null   float64
 7   L-5     6095 non-null   float64
 8   L-7     238 non-null    float64
 9   L-8     642 non-null    float64
 10  Temp    6219 non-null   float64
 11  Wind    6518 non-null   object
 12  count   6095 non-null   float64
dtypes: float64(9), object(4)
memory usage: 917.1+ KB

In [12]:
va_tmp = pd.melt(species[sheets[0]],
    id_vars='Year',
    value_vars='Temp'
)
va_tmp

      Year variable  value
0     1982     Temp    NaN
1     1982     Temp    NaN
2     1982     Temp    NaN
3     1982     Temp    NaN
4     1982     Temp    NaN
...    ...      ...    ...
8380  2020     Temp    NaN
8381  2020     Temp    NaN
8382  2020     Temp    NaN
8383  2020     Temp    NaN
8384  2020     Temp    NaN

[8385 rows x 3 columns]

In [44]:
species_va = species[sheets[0]].reset_index().drop(['Day', 'Year'], axis='columns')
species_va['test'] = pd.Timedelta(species_va['datetime'][0].strftime('%Y-%m-%d %X')).days
species_va

# ............

ValueError: only leading negative signs are allowed

In [ ]:


fig, ax = plt.subplots()
sns.lineplot(
    data=species_va.query('Temp < 50'),
    x='Day', y='Temp', hue='Year',
    ax=ax
)
#fig.autofmt_xdate()